 <h2><span>Application list</span></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>UUID</th>
        <th>App name</th>
        <th>Actions</th>
        <th>Column heading</th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(apps, function (app) { %>
        <%if (app.active) { %>
          <tr id="<%= app.id %>" class="success">
        <% } else { %>
          <tr class="warning" id="<%= app.id %>">
        <% } %>
        <td><%= app.uuid %></td>
        <td><%= app.name %></td>
        <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">More Actions</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <%if (app.active) { %>
              <li><a href="#" class="disableApp" data-appid="<%= app.id %>">Disable</a></li>
            <% } else { %>
              <li><a href="#" class="enableApp" data-appid="<%= app.id %>">Enable</a></li>
            <% } %>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        </td>
        <td>Column content</td>
      </tr>
      <% }) %>
    </tbody>
  </table>