<div class="" id="appList">
  <h2><span>Application list</span></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>UUID</th>
        <th>App name</th>
        <th>Actions</th>
        <th>Column heading</th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(apps, function (app) { %>
        <%if (app.active) { %>
          <tr id="<%= app.id %>" class="success">
        <% } else { %>
          <tr id="<%= app.id %>" class="warning">
        <% } %>
        <td><%= app.uuid %></td>
        <td><%= app.name %></td>
        <td>
        <div class="btn-group">
          <button type="button" <% if( app.active ) { %> disabled="disabled" <% } %> data-appid="<%= app.id %>" class="btn btn-success enableApp">Enable</button>
          <button type="button" <%if( !app.active ) { %>  disabled="disabled" <% } %>  data-appid="<%= app.id %>" class="btn btn-danger disableApp">Disable</button>
        </div>
        </td>
        <td>Column content</td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>