<div class="" id="appList">
  <%- partial('partials/addNewApp')%>
  <h2><span>Application list</span><span class="badge"><%= apps.length  %> </span> </h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>UUID</th>
        <th>App name</th>
        <th>Actions</th>
        <th>Delete!!!</th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(apps, function (app) { %>
        <%if (app.active) { %>
          <tr id="<%= app.id %>" class="success">
        <% } else { %>
          <tr id="<%= app.id %>" class="warning">
        <% } %>
        <td><span><%= app.uuid %></span></td>
        <td><span><%= app.name %></span></td>
        <td>
          <button type="button" <% if( app.active ) { %> disabled="disabled" <% } %> data-appid="<%= app.id %>" class="btn btn-success enableApp">Enable</button>
          <button type="button" <%if( !app.active ) { %>  disabled="disabled" <% } %>  data-appid="<%= app.id %>" class="btn btn-warning disableApp">Disable</button>
          <a href="/environment/getEnvs?appUUID=<%= app.uuid %>" ><button type="button" class="btn btn-info ">Show Envs</button></a>
        </td>
        <td>
          <button type="button" data-appid="<%= app.id %>"  class="btn btn-danger deleteApp">Delete</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>